.formWrapper {
  width: 800px;
  height: 500px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/*Left Side*/
.simpleInfo {
  width: 50%;
  background-image: url("../../img/redheadset.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*red :#FC534E */
}

.dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.9);
}

.simpleInfo .dim h2 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

.simpleInfo .dim .simpleInfoBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simpleInfoBottom p {
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.signInBtn {
  height: 50px;
  padding: 20px;
  background-color: #fc534e;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}

/*Right Side*/
.login {
  width: 50%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.login h2 {
  margin-bottom: 50px;
  font-size: 25px;
  padding-left: 50px;
  line-height: 40px;
  letter-spacing: 4px;
  font-family: "GmarketSansBold";
  position: relative;
}

.login h2::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../img/squreLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -1px;
  left: 0;
}

.login form {
  display: flex;
  flex-direction: column;
}

.textInput {
  margin-bottom: 20px;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border 0.4s;
}

.textInput::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.textInput:focus {
  border-color: black;
}

.checkboxLabel {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  position: relative;
  padding-left: 20px;
  transition: color 0.4s;
  cursor: pointer;
}

.checkboxLabel::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../../img/icon_check_empty.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -2px;
  left: 0;
}

.checkbox {
  display: none;
}

.checkbox:checked + .checkboxLabel::before {
  background-image: url("../../img/icon_check.png");
}

.checkbox:checked + .checkboxLabel {
  color: black;
}

.loginBtn {
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fc534e;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  cursor: pointer;
}

.bottomInfo {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 70px;
}

.goSignIn {
  padding: 0px 20px;
  position: relative;
}

.goSignIn::after {
  content: "";
  width: 1px;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

.findPassword {
  padding: 0 20px;
}

.loginFooter {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}
